[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

dpath = "*"
pytest = "*"
pytest-cov = "*"
pytest-pycodestyle = "*"
pytest-flake8 = "*"
pytest-sugar = "*"


[dev-packages]

tox = "*"

[requires]

python_version = "3.6"
